{% extends "side.html" %}
{% load static %}

{% block titulo %}
    Creación de subcontrato
{% endblock titulo %}
    
    

{% block estilos %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.css">
<link href="{% static 'usuarios/gestion.css' %}" rel="stylesheet" />
{% endblock estilos %}



{% block contenido %} 
<style>
    .sidebar.close ~ .home {
        left: 78px;
        height: 200%;
        width: calc(100% - 78px);
    }

    .tit_sec{
        background-color: #60b232;
        padding: 10px;
        color: white;
    
    }

    .nav-link{
        color: #60b232 !important;
    }
    .nav-link.active{
        color: #1a1a1a !important;
    }
    .calcampo{
        font-weight: bold;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'listsubcontratos' %}" style="text-decoration: none; color: #60b232; font-weight: 500;">Lista de subcontratos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Creación de subcontrato</li>
    </ol>
  </nav>

<h3 class="text-center mb-5 mt-3 tit_sec">Creación de subcontratos</h3>


<form action="{% url 'guardarSubcontrato' %}" method="post" enctype="multipart/form-data" id="guardarSubcontratoForm">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-3">
            <label for=""><strong>Identificador subcontrato </strong> <sup class="campo_requerido">*</sup></label>

            <input type="text" class="form-control" value="{{consecutivo}}" readonly name="consecutivo">
        </div>
        <div class="col-3">
            <label for=""><strong>Tipo de contrato</strong> <sup class="campo_requerido">*</sup></label>
            <select id="comboA"  class="form-select " onchange="getComboA(this)" name="tipo_contrato">
                <option value="1.1">1.1 Contratos con IVA pleno suministros</option>
                <option value="1.2">1.2 Contratos con IVA pleno y algunos servicios.</option>
                <option value="2">2. Contratos de servicios de obra civil.</option>
                <option value="3">3. Contratos mixtos.</option>
            </select>
            
        </div>
        <div class="col-3">
            <label for=""><strong>Elaborador</strong> <sup class="campo_requerido">*</sup></label>

            <select name="elaborador" id="elaborador" class="form-control" style="width: 100%;"></select>
            <p class="error_text" id="P_elaborador"></p>
        </div>
        <div class="col-3">
            <label for=""><strong>Cargo</strong> <sup class="campo_requerido">*</sup></label>
            <input type="text" class="form-control" id="cargoElaborador" readonly>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-3">
            <label for=""><strong>Proyecto </strong> <sup class="campo_requerido">*</sup></label>
            <select name="proyecto" id="proyecto" class="form-control"></select>
            <p class="error_text" id="P_proyecto"></p>
        </div>
        <div class="col-3">
            <label for=""><strong>Centro de operaciones </strong> <sup class="campo_requerido">*</sup></label>
            <select  id="centro_de_operaciones" class="form-control"></select>
        </div>
        <div class="col-3">
            <label for=""><strong>Nit</strong> <sup class="campo_requerido">*</sup></label>
            <select id="nit" class="form-control"></select>
        </div>
        <div class="col-3">
            <label for=""><strong>Proveedor</strong> <sup class="campo_requerido">*</sup></label>
            <select name="proveedor" id="proveedor" class="form-control"></select>
            <p class="error_text" id="P_proveedor"></p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-3" >
            <label for=""><strong>Estado </strong></label>
            <div style="background-color: rgb(255, 216, 177); padding: 5px 10px;height: 35px; border-radius: 5px;" >
                <p>En ejecución</p>
            </div>
            
        </div>
        <div class="col-3">
            <label for=""><strong>Compañía de registro</strong> <sup class="campo_requerido">*</sup></label>
            <select name="compania" id="compania" class="form-control"></select>
            <p class="error_text" id="P_compania"></p>
        </div>
        <div class="col-3">
            <label for=""><strong>Tipo Orden de compra</strong> <sup class="campo_requerido">*</sup></label>
            <select class="form-select" name="tipo_orden" id="slec" disabled>
                <option value="1" selected>OCS</option>
                <option value="2">OCM</option>
            </select>
            <p class="error_text" id="P_tipo_orden"></p>
        </div>
        <div class="col-3">
            <label for=""><strong>Nro. Orden de compra</strong> <sup class="campo_requerido">*</sup></label>
            <input type="text" class="form-control" name="numero_orden">
            <p class="error_text" id="P_numero_orden"></p>
        </div>
    </div>

    <div class="row mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"><strong><i id="icon_danger_CONDICIONES" class="fa-solid fa-circle-exclamation ocultar_iconos"></i> Condiciones contractuales</strong> </button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false"><strong><i id="icon_danger_ACTAS" class="fa-solid fa-circle-exclamation ocultar_iconos"></i> Actas de producción</strong> </button>
            </li>
            <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false"><strong><i id="icon_danger_DOCUMENTOS" class="fa-solid fa-circle-exclamation ocultar_iconos"></i> Documentación e información adicional</strong> </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row mt-4">
                    <div class="col-3" id="impExcel">
                        <label for=""><strong>¿Importar desde un excel?</strong>  <sup class="campo_requerido">*</sup></label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" onclick="importarExcel(1)" type="radio" name="impo" id="impo" value="si">
                                    <label class="form-check-label" for="impo">
                                    Si
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" onclick="importarExcel(2)" type="radio" name="impo" id="impo" value="no" checked>
                                    <label class="form-check-label" for="impo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>            
                    </div>
                    <div class="col-8" id="excel" style="display: none;">
                        <label for=""><strong>Información items</strong> </label>
                        <input type="file" class="form-control" name="excelItems" id="">
                        <small>Si desea importar los items para este subcapitulo, adjunte el excel con el formato indicado</small>
                    </div>
                </div>

                <div class="card mt-3 mb-5" style="padding: 10px;" id="card_it">
                    <h6>Items</h6>
                    <p class="error_text" id="P_items"></p>
                    <table class="table text-center" id="tbl_items">
                        <thead>
                            <tr>
                                <th width="200px">Código</th> 
                                <th>Item</th>
                                <th>Descripción</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Valor Unitario</th>
                                <th>Valor total</th>
                            </tr>
                            <tr onchange="calcularTotal()">
                               <form id="ItemsSubcontratoForm">
                                    <td>
                                        <select type="text" class="form-control" id="Codigo"></select>
                                        <p class="error_text" id="I_codigo"></p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="Item">
                                        <p class="error_text" id="I_item"></p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="Descripcion">
                                        <p class="error_text" id="I_descripcion"></p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="Unidad">
                                        <p class="error_text" id="I_unidad"></p>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="Cantidad">
                                        <p class="error_text" id="I_cantidad"></p>
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" id="ValorUnitario">
                                        <p class="error_text" id="I_valorU"></p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" id="ValorTotal" readonly>
                                        <p></p>
                                    </td>
                                    <td>
                                        <button type="button" class="btn" style="background-color: #60b232; color: white; font-weight: bold;" onclick="AgregarItems(), calcularIva(), CalcularT()"><strong><i class='bx bx-plus'></i></strong> </button>
                                        <p></p>
                                    </td>
                               </form>
                            </tr>
                        </thead>
                        <tbody id="tblItems">
                            
                            
                        </tbody>
                    </table>
                </div>

                <div class="card mt-3 mb-5" style="padding: 10px; display: none;" id="card_subcap">
                    <h6>Subcapitulos - Items</h6>
                    
                    <table class="table text-center" id="tbl_items">
                        <thead>
                            <th>Subcapitulo</th>
                            <th>Condiciones contractuales</th>
                            <th>Items asociados</th>
                            <th>Subtotal capitulo</th>
                        </thead>
                        <tbody>
                            
                            
                        </tbody>
                    </table>
                    
                    <div class="row">
                        <div class="col-4">
                            <button ype="button" class="btn" data-bs-toggle="modal" data-bs-target="#AddSubcapitulo">
                                <i class="fa-solid fa-plus"></i> &nbsp; Agregar
                            </button>
                        </div>
                    </div>
                </div>
    
    
                <div class="row justify-content-between mb-5" id="contnorm">
                    <div class="col-4">
                        <label for=""><strong>Tarifa de IVA</strong> </label>
                        <input type="number" name="tarifa_iva" class="form-control" onchange="calcularIva(), CalcularT()" id="tarifaiva" value="19">

                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <p class="calcampo">SUBTOTAL:</p>
                                <p class="calcampo" id="campoIva">IVA:</p>
                                <p class="calcampo">Total (Inc. IVA):</p>
                            </div>
                            <div class="col-6">
                                <p id="subtot">0</p>
                                <p id="calciv">0</p>
                                <p id="Tot">0</p>
                            </div>
                        </div>

                        
                        <!-- <button onclick="calcularSubtotal()">f</button> -->
                    </div>
                </div>

                <div class="row justify-content-between mb-5" id="contservice" style="display: none;">
                    <div class="col-4">
                        <label for=""><strong>Tarifa de IVA</strong> </label>
                        <input type="number" name="tarifa_iva" class="form-control mb-1" disabled onchange="calcularIva(), CalcularT()" id="tarifaivaT" value="19">
    
                        <label for=""><strong>Porcentaje Administración</strong> </label>
                        <input type="number" name="porcentaje_administracion" class="form-control mb-1" onchange="CalcularAdmins(), CalcularT()" id="porcAdmin" value="0">
    
                        <label for=""><strong>Porcentaje Imprevistos</strong> </label>
                        <input type="number" name="porcentaje_imprevistos" class="form-control mb-1" onchange="CalcularImprevist(), CalcularT()" id="porcImpr" value="0">
    
                        <label for=""><strong>Porcentaje Utilidad</strong> </label>
                        <input type="number" name="porcentaje_utilidad" class="form-control mb-1" onchange="CalcularUtilidad(), CalcularIvaUtilidad(), CalcularT()" id="porcUtil" value="0">
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <p class="calcampo">SUBTOTAL: </p>
                                <p class="calcampo">ADMINISTRACIÓN: </p>
                                <p class="calcampo">IMPREVISTOS: </p>
                                <P class="calcampo">UTILIDAD: </P>
                                <p class="calcampo">IVA:</p>
                                <p class="calcampo">IVA (Sobre la U):</p>
                                <p class="calcampo">Total (Inc. IVA):</p>
                            </div>
                            <div class="col-6">
                                <p id="subtot3">0</p>
                                <p id="admin2">0</p>
                                <p id="imprev2">0</p>
                                <p id="util2">0</p>
                                <p id="iv3">0</p>
                                <p id="ivu2">0</p>
                                <p id="Tot3">0</p>
                            </div>
                        </div>
                        <!-- <button onclick="calcularSubtotal()">f</button> -->
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row mt-4 mb-3">
                    <div class="col-12">
                        <label for=""><strong>¿Como se hará el seguimiento de actas?</strong> <sup class="campo_requerido">*</sup></label>
                        {{form.seguimiento_acta}}
                        <p class="error_text" id="P_seguimiento_acta"></p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row mt-4">
                    <div class="col-3">
                        <label for=""><strong>Fecha inicio del contrato</strong> <sup class="campo_requerido">*</sup></label>
                        <input type="date" class="form-control" name="fecha_inicio_contrato">
                        <p class="error_text" id="P_fecha_inicio_contrato"></p>
                    </div>
                    <div class="col-3">
                        <label for=""><strong>Fecha vencimiento contrato</strong> <sup class="campo_requerido">*</sup></label>
                        <input type="date" class="form-control" name="fecha_vencimiento_contrato">
                        <p class="error_text" id="P_fecha_vencimiento_contrato"></p>
                    </div>
                    <div class="col-3">
                        <label for=""><strong>Director de obra</strong> <sup class="campo_requerido">*</sup></label>
                        <input type="text" class="form-control" name="director_obra">
                        <p class="error_text" id="P_director_obra"></p>
                    </div>
                    <div class="col-3">
                        <label for=""><strong>Gestor del contrato</strong> <sup class="campo_requerido">*</sup></label>
                        <input type="text" class="form-control" name="gestor_contrato">
                        <p class="error_text" id="P_gestor_contrato"></p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label for=""><strong>Correo de notificación del proveedor</strong> <sup class="campo_requerido">*</sup></label>
                        <input type="email" class="form-control" name="correo_notificacion_proveedor" id="correo_notificacion_proveedor">
                        <p class="error_text" id="P_correo_notificacion_proveedor"></p>
                    </div>
                    <div class="col-12 mt-3">
                        <label for=""><strong>Validador/es del subcontrato</strong> <sup class="campo_requerido">*</sup></label>
                        {{form.validadores}}
                        <p class="error_text" id="P_validadores"></p>
                    </div>
                </div>
                <div class="card mt-3 mb-5" style="padding: 10px;">
                    <h6>Pólizas</h6>
                   
                    <table class="table" id="tbl_polizas">
                        <thead>
                            <tr>
                                <th>Tipo de póliza</th>
                                <th>Número de póliza</th>
                                <th>Aseguradora</th>
                                <th>Fecha de vencimiento</th>
                                <th></th>
                            </tr>
                            <tr onchange="calcularTotal()">
                                <form id="ItemsSubcontratoForm">
                                     <td>
                                         <select type="text" class="form-select" id="Tipo_Poliza">
                                            <option>Cumplimiento</option>
                                            <option>Responsabilidad civil</option>
                                            <option>Todo riesgo</option>
                                         </select>
                                         <p class="error_text" id="Po_tipo_poliza"></p>
                                     </td>
                                     <td>
                                         <input type="text" class="form-control" id="Numero_Poliza">
                                         <p class="error_text" id="Po_numero_poliza"></p>
                                     </td>
                                     <td>
                                        {{formPoliza.aseguradora}}
                                         <p class="error_text" id="Po_aseguradora"></p>
                                     </td>
                                     <td>
                                         <input type="date" class="form-control" id="Fecha_vencimiento_poliza">
                                         <p class="error_text" id="Po_fecha_vencimiento_poliza"></p>
                                     </td>
                                     <td>
                                         <button type="button" class="btn" style="background-color: #60b232; color: white; font-weight: bold;" onclick="AgregarPoliza()"><strong><i class='bx bx-plus'></i></strong> </button>
                                         <p></p>
                                     </td>
                                </form>
                             </tr>
                        </thead>
                        <tbody id="tblpolizas">
                            
                            
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for=""><strong>Contrato</strong> </label>
                        {{form.contrato}}
                         <p class="error_text" id="P_contrato"></p>
                    </div>
                    <div class="col-4">
                        <label for=""><strong>Pólizas o garantías</strong> </label>
                        {{form.polizas_garantias}}
                         <p class="error_text" id="P_polizas_garantias"></p>
                    </div>
                    <div class="col-4">
                        <label for=""><strong>Acta de inicio</strong> </label>
                        {{form.acta_inicio}}
                         <p class="error_text" id="P_acta_inicio"></p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <label for=""><strong>Modificaciones contractuales</strong> </label>
                        {{form.modificaciones_contractuales}}
                         <p class="error_text" id="P_modificaciones_contractuales"></p>
                    </div>
                    <div class="col-4">
                        <label for=""><strong>Acta de recibo final</strong></label>
                        {{form.acta_recibo_final}}
                         <p class="error_text" id="P_acta_recibo_final"></p>
                    </div>
                    <div class="col-4">
                        <label for=""><strong>Acta de liquidación</strong></label>
                        {{form.acta_liquidacion}}
                         <p class="error_text" id="P_acta_liquidacion"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-2 justify-content-end text-center">
            <div class="col-2">
                <button class="btn btn-success" type="button" onclick="guardarSubcontrato()"><i class='bx bx-save'></i> Guardar</button>
            </div>
        </div>
    </div>
</form>
{% endblock contenido %} 


{% block modales %}
    <!-- Modal -->
    <div class="modal fade" id="AddActa" tabindex="-1" role="dialog" style="overflow-y: scroll;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><strong>Agregar Acta</strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Seguimiento</h6>
                <div class="card" style="padding: 10px;">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Descripción</th>
                                <th>Unidad</th>
                                <th>Cantidad</th>
                                <th>Valor unitario</th>
                            </tr>
                            <tr>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                                <td><input type="text" class="form-control"></td>
                            </tr>
                        </thead>
                    </table>
                    <div class="row">
                        <div class="col-6">
                            <div class="card" style="padding: 5px;">
                                <h6>Cantidades</h6>
                                <table class="table">
                                    <tr>
                                        <th>Item</th>
                                        <th>Cantidad</th>
                                        <th>Paquete de trabajo</th>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-4">
                                        
                                          <button type="button" class="btn btn-sm" onclick="mod()">
                                            <i class='bx bx-plus'></i> Agregar
                                          </button>
                                          
                                          
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <table class="table">
                                    <tr>
                                        <th>Cantidad ejec.</th>
                                        <th>Valor total</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-dark btn-sm mb-4">Nueva entrada</button>
                    </div>
                </div>
                
                <label for=""><strong>Estado</strong> </label>
                <span class="badge rounded-pill bg-warning">Sin revisar</span>

                <div class="row mt-4">
                    <div class="col-4">
                        <label for=""><strong>Otros datos adjuntos</strong> </label>
                        <input class="form-control form-control-sm" type="file" id="formFile">
                    </div>
                    <div class="col-4">
                        <label for=""><strong>Seguridad social</strong> </label>
                        <input class="form-control form-control-sm" type="file" id="formFile">
                    </div>
                    <div class="col-4">
                        <label for=""><strong>Listado de personal</strong> </label>
                        <input class="form-control form-control-sm" type="file" id="formFile">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class='bx bx-x'></i> Cancelar</button>
            <button type="button" class="btn btn-success">Guardar <i class='bx bx-save'></i></button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="addItem"style="display: none; background-color: rgba(0,0,0,0.3);">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            
            <div class="modal-body">
              <button type="button" class="btn-close"aria-label="Close" onclick="hidedjs()"></button>
              <form action="">
                <div class="row mt-4 justify-content-right">
                    <div class="col-6">
                        <label for=""><strong>Cantidad</strong>  <sup class="campo_requerido">*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for=""><strong>Paquete de trabajo</strong>  <sup class="campo_requerido">*</sup></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-2 mt-3">
                        <button class="btn btn-sm" style="background-color: #60b232; color: white;
                        
                        ">Guardar</button>
                    </div>
                </div>
              </form>
            </div>
            
          </div>
        </div>
    </div>
   
    <!-- Modal de subcapitulos -->
    <div class="modal fade" id="AddSubcapitulo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-body">
                <div class="row mt-4">
                    <div class="col-4" id="impExcel">
                        <label for=""><strong>¿Importar desde un excel?</strong>  <sup class="campo_requerido">*</sup></label>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" onclick="importarExcelSub(1)" type="radio" name="impoSub" id="impoSub" value="si">
                                    <label class="form-check-label" for="impo">
                                    Si
                                    </label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-check">
                                    <input class="form-check-input" onclick="importarExcelSub(2)" type="radio" name="impoSub" id="impoSub" value="no" checked>
                                    <label class="form-check-label" for="impo">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>            
                    </div>
                    <div class="col-8" id="excelSub" style="display: none;">
                        <label for=""><strong>Información items</strong> </label>
                        <input type="file" class="form-control" name="excelItems" id="excelItems">
                        <small>Si desea importar los items para este subcapitulo, adjunte el excel con el formato indicado</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <label for=""><strong></strong> Subcapitulo <sup class="campo_requerido">*</sup></label>
                        <select class="form-control" id="Subcapitulos">
                            <option>OBRA CIVIL</option>
                            <option>SUMINISTRO</option>
                        </select>
                        
                    </div>
                </div>
                <table class="table text-center" id="tbl_itemsSub">
                    <thead>
                        <tr>
                            <th width="200px">Código</th> 
                            <th>Item</th>
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Cantidad</th>
                            <th>Valor Unitario</th>
                            <th>Valor total</th>
                        </tr>
                        <tr onchange="calcularTotal()">
                            <td>
                                <select type="text" class="form-select" id="CodigoSub"></select>
                                <p class="error_text" id="Sub_CodigoSub"></p>    
                            </td>
                            <td>
                                <input type="text" class="form-control" id="ItemSub">
                                <p class="error_text" id="Sub_ItemSub"></p>    
                            </td>
                            <td>
                                <input type="text" class="form-control" id="DescripcionSub">
                                <p class="error_text" id="Sub_DescripcionSub"></p>    
                            </td>
                            <td>
                                <input type="text" class="form-control" id="UnidadSub">
                                <p class="error_text" id="Sub_UnidadSub"></p>    
                            </td>
                            <td>
                                <input type="number" class="form-control" id="CantidadSub" min="1">
                                <p class="error_text" id="Sub_CantidadSub"></p>    
                            </td>
                            <td>
                                <input type="number" class="form-control" id="ValorUnitarioSub" >
                                <p class="error_text" id="Sub_ValorUnitarioSub"></p>    
                            </td>
                            <td>
                                <input type="text" class="form-control" id="ValorTotalSub" readonly>
                                <p class="error_text" id="Sub_ValorTotalSub"></p>    
                            </td>
                            <td>
                                <button type="button" class="btn" style="background-color: #60b232; color: white; font-weight: bold;" onclick="AgregarItemsSub()"><strong><i class='bx bx-plus'></i></strong> </button>
                                <p class="error_text"></p>    
                            </td>
                        </tr>
                    </thead>
                    <tbody id="tblItemsSub">
                        
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i> Guardar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
              
            </div>
          </div>
        </div>
    </div>
{% endblock modales %}


{% block scripts %}
<script src="{% static 'js/firma.js' %}"></script>
<script src="{% static 'modSubcontratos/js/main.js' %}"></script>
<!-- solucion de autofocus en los campos version mas antigua de jquery  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- fin de la solucion fddfd -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/es.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="{% static 'js/calculos.js' %}"></script>
<script>
    $(document).on('click', '#AddActa', function() {
        $('#AddActa').modal('show');
    });

    $(document).on('click', '#addItem', function() {
        $('#addItem').modal('show');
    });

    $("#suv").select2({
        tags: true
    });
</script>

<script>
    function getComboA(selectObject) {
        // var campo = document.getElementById("tipoComp")
        var selec = document.getElementById("slec")

        var contNo = document.getElementById("contnorm")
        var tipoTarf = document.getElementById("contservice")

        var impExc = document.getElementById("impExcel")

        var cardItems = document.getElementById("card_it")
        var cardSubcap = document.getElementById("card_subcap")

        var value = selectObject.value;  
        
        if(value == "1.1"){
            selec.value = "1"
            selec.setAttribute('disabled', '')
            contNo.style.display = 'flex'
            tipoTarf.style.display = 'none'
            impExc.style.display = 'block'
            cardItems.style.display = 'flex'
            cardSubcap.style.display = 'none'
            document.getElementById("tarifaivaT").setAttribute('disabled', '')
            document.getElementById("tarifaiva").removeAttribute('disabled')
            document.getElementById("porcAdmin").value = 0
            document.getElementById("porcImpr").value = 0
            document.getElementById("porcUtil").value = 0
        }
        else if(value == "1.2"){
            selec.value = "2"
            selec.setAttribute('disabled', '')
            contNo.style.display = 'flex'
            tipoTarf.style.display = 'none'
            impExc.style.display = 'block'
            cardItems.style.display = 'flex'
            cardSubcap.style.display = 'none'
            document.getElementById("tarifaivaT").setAttribute('disabled', '')
            document.getElementById("tarifaiva").removeAttribute('disabled')
            document.getElementById("porcAdmin").value = 0
            document.getElementById("porcImpr").value = 0
            document.getElementById("porcUtil").value = 0
            
        }
        else if(value == "2"){
            selec.value = "1"
            selec.setAttribute('disabled', '')
            contNo.style.display = 'none'
            tipoTarf.style.display = 'flex'
            impExc.style.display = 'block'
            cardItems.style.display = 'flex'
            cardSubcap.style.display = 'none'
            document.getElementById("tarifaiva").setAttribute('disabled', '')
            document.getElementById("tarifaivaT").removeAttribute('disabled')
            document.getElementById("porcAdmin").value = 0
            document.getElementById("porcImpr").value = 0
            document.getElementById("porcUtil").value = 0
        }
        else{
            selec.removeAttribute('disabled')
            contNo.style.display = 'none'
            tipoTarf.style.display = 'flex'
            impExc.style.display = 'none'
            cardItems.style.display = 'none'
            cardSubcap.style.display = 'flex'
            document.getElementById("tarifaiva").setAttribute('disabled', '')
            document.getElementById("tarifaivaT").removeAttribute('disabled')
        }
    }

    var campo = document.getElementById("impo").value

    function importarExcel(campo){
        var tabla = document.getElementById("tbl_items")
        var campoExcel = document.getElementById("excel")

        if(campo == 1){
            tabla.style.display = "none"
            campoExcel.style.display = "block"
        }
        else{
            tabla.style.display = "block"
            campoExcel.style.display = "none"
        }
    }

     function importarExcelSub(campo){
        var tabla = document.getElementById("tbl_itemsSub")
        var campoExcel = document.getElementById("excelSub")

        console.log(tabla, campoExcel)
        if(campo == 1){
            tabla.style.display = "none"
            campoExcel.style.display = "block"
        }
        else{
            tabla.style.display = "block"
            campoExcel.style.display = "none"
        }
    }
    

    function calcularSubtotal(){

        const resume_table = document.getElementById("tbl_items");

        const tableRows = document.querySelectorAll('#tbl_items tr.it_row');

        let subt = document.getElementById("subtot");

        let iva = document.getElementById("tarifaiva").value;

        let con = parseFloat(iva)
        let porc = (con / 100);

        
        for(let i = 0; i < tableRows.length; i++) {
            const row = tableRows[i];

            
            const status = row.querySelector('.valTot');
            let conversion= parseInt(status.innerHTML); 

            

            // console.log(conversion)
            // if(status === status){
            //     console.log(status)
            // }
            // else{
            //     // conversion 
            //     let conversion= parseInt(status.innerHTML); 

                            

            //     let su = conversion++
            //     let suma = conversion + conversion 
            //     console.log(su);
            // }
            
        
            // Para modificar un estado:
            status.innerText = valorTotal;
        }
    }
   var ItemsObject ={
    data:[]
   }

   var PolizasObject ={
    data:[]
   }

   var ItemsSucapituloObject ={
    data:[]
   }
    
    var valorSubtotal = 0;

    function AgregarItems(){
        $("#tbl_items").find('.error_text').text('');
        $("#tbl_items").find(".is-invalid").removeClass('is-invalid');

        let codigo = $("#Codigo").val();
        let item = $("#Item").val();
        let descripcion = $("#Descripcion").val();
        let unidad = $("#Unidad").val();
        let cantidad = $("#Cantidad").val();
        let valorUnitario = $("#ValorUnitario").val(); 
        let valorTotal = $("#ValorTotal").val();

        let subt = document.getElementById("subtot");
        let subtt = document.getElementById("subtot3")

        if(codigo == "" || codigo == null){
            $("#Codigo").addClass("is-invalid")
            $("#I_codigo").text("Este campo es requerido")
        }else if(item == "" || item == null){
            $("#Item").addClass("is-invalid")
            $("#I_item").text("Este campo es requerido")
        }else if(descripcion == "" || descripcion == null){
            $("#Descripcion").addClass("is-invalid")
            $("#I_descripcion").text("Este campo es requerido")
        }else if(unidad == "" || unidad == null){
            $("#Unidad").addClass("is-invalid")
            $("#I_unidad").text("Este campo es requerido")
        }else if(cantidad == "" || cantidad == null){
            $("#Cantidad").addClass("is-invalid")
            $("#I_cantidad").text("Este campo es requerido")
        }else if(valorUnitario == "" || valorUnitario == null){
            $("#ValorUnitario").addClass("is-invalid")
            $("#I_valorU").text("Este campo es requerido")
        }

        if(cantidad > 0 && valorUnitario > 0){
            $('#tblItems').append(`
            <tr class="it_row" id="tr-${codigo}">
                <td>
                    <input type="hidden" name="" value="${codigo}"/>
                    ${$("#Codigo").select2('data')[0]['text']}
                </td>
                <td>${item}</td>  
                <td>${descripcion}</td>  
                <td>${unidad}</td>  
                <td>${cantidad}</td>  
                <td>${valorUnitario}</td>
                <td class="valTot">${parseInt(valorTotal)}</td>  
                <td>
                    <button class="btn" onclick="Eliminar_item(${codigo}, ${parseInt(valorTotal)})" style="color: #fc3322; font-size: 20px; font-weight: bold;"><i class='bx bx-x'></i></button>
                </td>    
            </tr>
        `)
        ItemsObject.data.push({ 
            codigo:codigo,
            data:{
                codigo:codigo,
                item:item,
                descripcion: descripcion,
                unidad: unidad,
                cantidad:cantidad,
                valorUnitario:valorUnitario,
                valorTotal:valorTotal
            }
        })
            let con = parseInt(valorTotal)
            valorSubtotal += con;
            
            subt.innerText = valorSubtotal
            subtt.innerText = valorSubtotal
            // subt.innerText = ${parseInt(valorSubtotal) += parseInt(valorSubtotal)};
            
            $("#Codigo").empty()
            $("#Item").val("")
            $("#Descripcion").val("")
            $("#Unidad").val("")
            $("#Cantidad").val("")
            $("#ValorUnitario").val("")
            $("#ValorTotal").val("")
        }
        else{
            alert("Ingrese cantidad válida")
        }
       
        
    }

    

    // console.log(subty.innerText)
        // console.log(subt.innerText)

    function Eliminar_item(id, total){
        
        let subty = document.getElementById("subtot");
        let cambio = parseInt(subty.innerText)
        

        $("#tr-"+ id).remove();
        for (let i = 0; i < ItemsObject.data.length; i++){
            if (ItemsObject.data[i]["codigo"]==id){
                let con = ItemsObject.data[i].data.valorTotal || 0;
                let resta = parseFloat(cambio) - parseFloat(total)

                $("#subtot").text(resta)
                console.log(resta)
                ItemsObject.data.splice(i,1)
                
            
                // console.log(cambio)
                
            }
        }


    }
    function AgregarPoliza(){
        $("#tbl_polizas").find('.error_text').text('');
        $("#tbl_polizas").find(".is-invalid").removeClass('is-invalid');

        let tipo_poliza = $("#Tipo_Poliza").val();
        let numero_poliza = $("#Numero_Poliza").val();
        let aseguradora = $("#id_aseguradora").val();
        let Fecha_vencimiento_poliza = $("#Fecha_vencimiento_poliza").val();
       

        if(tipo_poliza == "" || tipo_poliza == null){
            $("#Tipo_Poliza").addClass("is-invalid")
            $("#Po_tipo_poliza").text("Este campo es requerido")
        }else if(numero_poliza == "" || numero_poliza == null){
            $("#Numero_Poliza").addClass("is-invalid")
            $("#Po_numero_poliza").text("Este campo es requerido")
        }else if(aseguradora == "" || aseguradora == null){
            $("#id_aseguradora").addClass("is-invalid")
            $("#Po_aseguradora").text("Este campo es requerido")
        }else if(Fecha_vencimiento_poliza == "" || Fecha_vencimiento_poliza == null){
            $("#Fecha_vencimiento_poliza").addClass("is-invalid")
            $("#Po_fecha_vencimiento_poliza").text("Este campo es requerido")
        }else{
            let id = Math.floor(Math.random(9999) * 10); 
            $('#tblpolizas').append(`
            <tr class="it_row" id="tr-${id}">
                <td>
                    <input type="hidden" name="" value="${id}"/>
                    ${$("#Tipo_Poliza").select2('data')[0]['text']}
                </td>
                <td>${numero_poliza}</td>  
                <td>${$("#id_aseguradora").select2('data')[0]['text']}</td>  
                <td>${Fecha_vencimiento_poliza}</td>   
                <td>
                    <button class="btn" onclick="Eliminar_Poliza(${id})" style="color: #fc3322; font-size: 20px; font-weight: bold;"><i class='bx bx-x'></i></button>
                </td>    
            </tr>
        `)
        PolizasObject.data.push({ 
            id:id,
            data:{
                tipo:tipo_poliza,
                numero:numero_poliza,
                aseguradora: aseguradora,
                vencimiento: Fecha_vencimiento_poliza,
            }
        })
            $("#Tipo_Poliza").val(null).trigger("change");
            $("#Numero_Poliza").val("")
            $("#id_aseguradora").val(null).trigger("change");
            $("#Fecha_vencimiento_poliza").val("")
        } 
    }

    

    function Eliminar_Poliza(id){
        $("#tr-"+ id).remove();
        for (let i = 0; i < PolizasObject.data.length; i++){
            if (PolizasObject.data[i]["id"]==id){
                PolizasObject.data.splice(i,1)
            }
        }

    }
     
    
    // SUBCAPITULOS
    function AgregarItemsSub(){
        $("#tbl_itemsSub").find('.error_text').text('');
        $("#tbl_itemsSub").find(".is-invalid").removeClass('is-invalid');

        let codigo = $("#CodigoSub").val();
        let item = $("#ItemSub").val();
        let descripcion = $("#DescripcionSub").val();
        let unidad = $("#UnidadSub").val();
        let cantidad = $("#CantidadSub").val();
        let valorUnitario = $("#ValorUnitarioSub").val(); 
        let valorTotal = $("#ValorTotalSub").val();
        let subcapitulo = $("#Subcapitulos").val()

        let subt = document.getElementById("subtot");
        let subtt = document.getElementById("subtot3")

        if(codigo == "" || codigo == null){
            $("#CodigoSub").addClass("is-invalid")
            $("#Sub_CodigoSub").text("Este campo es requerido")
        }else if(item == "" || item == null){
            $("#ItemSub").addClass("is-invalid")
            $("#Sub_ItemSub").text("Este campo es requerido")
        }else if(descripcion == "" || descripcion == null){
            $("#DescripcionSub").addClass("is-invalid")
            $("#Sub_DescripcionSub").text("Este campo es requerido")
        }else if(unidad == "" || unidad == null){
            $("#UnidadSub").addClass("is-invalid")
            $("#Sub_UnidadSub").text("Este campo es requerido")
        }else if(cantidad == "" || cantidad == null){
            $("#CantidadSub").addClass("is-invalid")
            $("#Sub_CantidadSub").text("Este campo es requerido")
        }else if(valorUnitario == "" || valorUnitario == null){
            $("#ValorUnitarioSub").addClass("is-invalid")
            $("#Sub_ValorUnitarioSub").text("Este campo es requerido")
        }

        if(cantidad > 0 && valorUnitario > 0 && valorTotal > 0){
            $('#tblItemsSub').append(`
            <tr class="it_row" id="tr-${codigo}">
                <td>
                    <input type="hidden" name="" value="${codigo}"/>
                    ${$("#Codigo").select2('data')[0]['text']}
                </td>
                <td>${item}</td>  
                <td>${descripcion}</td>  
                <td>${unidad}</td>  
                <td>${cantidad}</td>  
                <td>${valorUnitario}</td>
                <td class="valTot">${parseInt(valorTotal)}</td>  
                <td>
                    <button class="btn" onclick="Eliminar_ItemSubcapitulo(${codigo})" style="color: #fc3322; font-size: 20px; font-weight: bold;"><i class='bx bx-x'></i></button>
                </td>    
            </tr>
        `)
        ItemsSucapituloObject.data.push({ 
            codigo:codigo,
            data:{
                codigo:codigo,
                item:item,
                descripcion: descripcion,
                unidad: unidad,
                cantidad:cantidad,
                valorUnitario:valorUnitario,
                valorTotal:valorTotal,
                sucapitulo:subcapitulo
            }
        })
            let con = parseInt(valorTotal)
            valorSubtotal += con;
            
            subt.innerText = valorSubtotal
            subtt.innerText = valorSubtotal
            // subt.innerText = ${parseInt(valorSubtotal) += parseInt(valorSubtotal)};
            
            $("#Subcapitulos").val(null).trigger("change")
            $("#CodigoSub").empty()
            $("#ItemSub").val("")
            $("#DescripcionSub").val("")
            $("#UnidadSub").val("")
            $("#CantidadSub").val("")
            $("#ValorUnitarioSub").val("")
            $("#ValorTotalSub").val("")
        }
       
        
    }
    function Eliminar_ItemSubcapitulo(id){
        $("#tr-"+ id).remove();
        for (let i = 0; i < ItemsSucapituloObject.data.length; i++){
            if (ItemsSucapituloObject.data[i]["id"]==id){
                ItemsSucapituloObject.data.splice(i,1)
            }
        }

    }
    
    
    

    function hidedjs() {
        let item = document.getElementById('addItem')
        item.style.display='none';$('#addItem').removeClass('show');
        item.removeAttribute('aria-modal');
        item.removeAttribute('role'); 
        item.setAttribute('aria-hidden','true');
        let modales = document.querySelectorAll('.modal-backdrop')
        for (let i = 0; i < modales.length; i++) {
            if('fade' != modales[i].className.split(' ')[1]){
                console.log(modales[i].remove())
            }
        }
    }
    function mod(){
        $('#addItem').css('display','block')
        $('#addItem').show()
        let item = document.getElementById('addItem')
        item.setAttribute('aria-modal','true')
        item.setAttribute('role','dialog')
    }

    var wrapper = document.getElementById("signature-pad");
    var clearButton = wrapper.querySelector("[data-action=clear]");
    var savePNGButton = wrapper.querySelector("[data-action=save-png]");
    var canvas = wrapper.querySelector("canvas");
    var el_note = document.getElementById("note");
    var signaturePad;
    signaturePad = new SignaturePad(canvas);
    
    clearButton.addEventListener("click", function (event) {
        document.getElementById("note").innerHTML="Ingrese su firma";
        signaturePad.clear();
    });

    savePNGButton.addEventListener("click", function (event){
        if (signaturePad.isEmpty()){
            alert("Ingrese una firma por favor.");
            event.preventDefault();
        }else{
            var canvas  = document.getElementById("the_canvas");
            var dataUrl = canvas.toDataURL();
            document.getElementById("signature").value = dataUrl;
        }
    });
    function my_function(){
        document.getElementById("note").innerHTML="";
    }



    var campoS = document.getElementById("impo").value

    function importarExcel(campoS){
        
        var tabla = document.getElementById("tbl_items")
        var campoExcel = document.getElementById("excel")

        if(campoS == 1){
            tabla.style.display = "none"
            campoExcel.style.display = "block"
        }
        else{
            tabla.style.display = "block"
            campoExcel.style.display = "none"
        }
    }
    
    
    </script>
{% endblock scripts %}