{% extends "side.html" %}
{% load static %}


{% block titulo %}
    Listado de Subcontratos
{% endblock titulo %}


{% block estilos %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"> 
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.css">
{% endblock estilos %}
    

{% block contenido %} 

<style>

    #encabezado{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    #encabezado .colm2{
        display: flex;
        justify-content: end;
    }
    .add{
        background-color: #78bb50;
        font-weight: 600;
        color: white;
    }
    .add:hover{
        background-color: #78bb50;
        font-weight: 600;
        color: black;
    }

    
</style>
<div class="row mb-4 mt-2" id="encabezado">
    <div class="col-6">
        <h3><strong>Subcontratos registrados</strong></h3>
    </div>
    <div class="col-6 colm2">
        <!-- Button trigger modal -->
        <a type="button" href="{% url 'subcontratos' %}" class="btn add">
            <i class='bx bx-plus'></i> Nuevo subcontrato
        </a>
    </div>
</div>

<div class="tablascroll">
    <table class="table table-striped" id="listarSubcontratos"  width="100%">
        <thead>
          <tr style="font-size: 15px;">
            <th scope="col">Consecutivo</th>
            <th scope="col">Tipo de contrato</th>
            <th scope="col">Elaborador</th>
            <th scope="col">Nit</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col">Fecha de vencimiento</th>
            <th scope="col">Director obra</th>
            <th scope="col">Gestor obra</th>
            <th scope="col">Empresa</th>
            <th scope="col">Proyecto</th>
            <th scope="col">Centro operaciones</th>
            <th scope="col">Validador/es</th>
            <th scope="col">Número polizas</th>
            <th scope="col">Acciones</th>
          </tr> 
        </thead>
        <tbody style="font-size: 13px;">
            {% for subcontrato in subcontratos %}
            <tr>
                <!-- <td>{{subcontrato.pk}}</td> -->
                <td>Subcontrato-{{subcontrato.consecutivo}}</td>
                <td>{{subcontrato.get_tipo_contrato_display }}</td>
                <td>{{subcontrato.elaborador}}</td>
                <td>{{subcontrato.proveedor.nit}}</td>
                <td>{{subcontrato.proveedor}}</td>
                <td>{{subcontrato.fecha_inicio_contrato|date:"d/m/Y"}}</td>
                <td>{{subcontrato.fecha_vencimiento_contrato|date:"d/m/Y"}}</td>
                <td>{{subcontrato.director_obra}}</td>
                <td>{{subcontrato.gestor_contrato}}</td>
                <td>{{subcontrato.compania}}</td>
                <td>{{subcontrato.proyecto}}</td>
                <td>{{subcontrato.proyecto.id_proyecto}}</td>
                <td>{{subcontrato.validadores}}</td>
                <td>{{subcontrato.CantidadPolizas}}</td>
                <td>

                    <a class="btn btn-outline-dark" href="{% url 'verSubcontrato' subcontrato.pk %}">Ver detalles</a>
                    <a href="{% url 'modificarSubcontrato' subcontrato.pk %}" class="btn btn-warning"><i class="fa-regular fa-pen-to-square"></i></a>

                </td>
            </tr>
          {% endfor %}   
        </tbody>
    </table>
</div>


  


{% endblock contenido %} 


{% block scripts %}
    <script src="{% static 'usuarios/main.js' %}"></script>

  
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script><script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

  <script>
    $(document).ready(function () {
        $('#listarSubcontratos').DataTable({
            // scrollX: true,
            
            "language": {
                "lengthMenu": "Mostrar " + `<select class="custom-select custom-select-sm form-control form-control-sm">
                                <option value='5'>5</option>
                                <option value='10'>10</option>
                                <option value='25'>25</option>
                                <option value='-1'>Todos</option>
                    </select>` + " registros por página",
                "zeroRecords": "No hay nada - perdón",
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado desde _MAX_ registros totales)",
                "search": `<button class='btn btn-dark btn-sm'>Buscar</button>`,
                "paginate":{
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            responsive: true         
        });
    });
  </script>
{% endblock scripts %}
    



{% block modales %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="height: 98%;">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><strong>Registro de Usuarios</strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'crearUsuario' %}" method="post" id="registroUsuarioForm">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <label><strong>Nombres</strong> <sup class="campo_requerido">*</sup></label>
                            {{form.nombres}}
                            <p id="nombres" class="error_text"></p>
                        </div>
                        <div class="col-6">
                            <label><strong>Apellidos</strong> <sup class="campo_requerido">*</sup></label>
                            {{form.apellidos}}
                            <p id="apellidos" class="error_text"></p>
                        </div>
                    </div>
                    
                    <label><strong>Nombre de usuario</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.usuario}}
                    <p id="usuario" class="error_text"></p>

                    <label><strong>Cedula(Esta será la contraseña provisional)</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.cedula}}
                    <p id="cedula" class="error_text"></p>

                    <label><strong>Correo electronico</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.correo}}
                    <p id="correo" class="error_text"></p>
                    
                    <label><strong>Rol de usuario</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.rol}}
                    <p id="rol" class="error_text"></p>
                </form>      
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class='bx bx-x'></i> Cerrar</button>
            <button type="button" class="btn btn-success" onclick="guardarUsuario()"><i class='bx bx-save'></i> Guardar Usuario</button>
            </div>
        </div>
        </div>
    </div>

    <div class="modal fade" id="modificarUsuarioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  style="height: 98%;">

    </div>
{% endblock modales %}