@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

        body{
            font-family: 'Poppins', sans-serif;
        }
        body::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        body::-webkit-scrollbar:vertical {
            width:10px;
        }
        
        body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
            display: none;
        } 
        
        body::-webkit-scrollbar:horizontal {
            height: 10px;
        }
        
        body::-webkit-scrollbar-thumb {
            background-color: transparent;
            border-radius: 20px;
            border: 2px solid transparent;
        }
        
        body::-webkit-scrollbar-track {
            border-radius: 10px;  
        }
        
        #colun .img_pc{
           display: block;
           width: 115%;
           height: 100vh; 
        }

        #colun .img_movil{
            display: none;
            
        }


        #contForm{
            margin-left: 100px;
            margin-top: 30px;
            padding: 20px;
            padding-left: 40px;
            padding-right: 40px;
            width: 80%;

        }
        .cont_error{
            display: flex;
            justify-content: center;
        }
        .show_error{
            background-color: #ff64647a;
            color: rgb(255, 255, 255);
            height: 40px;
            border-radius: 5px;
            width: 100%;
            text-align: center;
            padding-top: 8px;
        }

        .texto-seccion{
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            color: #60b232;
            margin-top: 150px;
        }

        a{
            color: #60b232;
            text-decoration: none;
        }
        a:hover{
            color: #60b232;
        }


        .form-input {
            margin: 10px auto;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
        }
        
        .icon {
            position: absolute;
            left: 15px;
            top: 0;
            font-size: 20px;
            color: #60b232;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #row_form input{
            border: 2px solid #eee;
            padding: 5px 10px 5px 50px;
            font-size: 18px;
            line-height: 30px;
            outline: 0;
            display: block;
            width: 100%;
            border-radius: 20px;
            background-color: #efefef;
        }

        .btn_ingresar{
            background-color: #60b232;
            width: 70%;
            font-weight: bold;
            border-radius: 20px;
            color: white;
        }

        .mas{
            font-size: 15px;
        }

        @media(max-width: 900px){
            #colun .img_pc{
                display: none;
                
             }
     
             #colun .img_movil{
                 display: block;
                 margin-top: -340px;
                 
             }
             #contForm{
                margin-left: 0px;
                margin-top: -100px;
                padding: 0px;
                padding-left: 0px;
                padding-right: 0px;
                width: 100%;
    
            }
        }
