
{% extends "side.html" %}
{% load static %}


{% block titulo %}
    Cambiar Contraseña
{% endblock titulo %}


{% block estilos %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.15/dist/sweetalert2.css">
{% endblock estilos %}
    

{% block contenido %} 


<div class="row mb-4 mt-2" id="encabezado">
    <div class="col-12">
        <h3 class="camb_contr" style="font-weight: 600;">Cambiar Contraseña</h3>
        <p>Una constraseña segura contribuye a evitar el acceso no autorizado a su cuenta</p>
        <hr>
        <div class="divPasswords">
            <form action="{% url 'cambiarContrasena' %}" method="post" id="cambiarPass">
                {% csrf_token %}
                <Label><strong>Contraseña Antigua: <sup class="campo_requerido">*</sup></strong></Label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                    {{form.passwordA}}
                </div>
                <p id="passwordA" class="bg-light text-danger" style="color: #dc3545;"></p>
                <br>

                <Label><strong>Contraseña Nueva: <sup class="campo_requerido">*</sup></strong></Label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                    {{form.password}}
                </div>
                <p id="password" class="bg-light text-danger" style="color: #dc3545;"></p>
                <br>

                <Label><strong>Confirmar Contraseña: <sup class="campo_requerido">*</sup></strong></Label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                    {{form.password2}}
                </div>
                <p id="passwordC" class="bg-light text-danger" style="color: #dc3545;"></p>

                <div class="row" style="margin-top: 35px;">
                    <div class="col-6">
                        <button class="btn w-100" style="background-color: #78bb50; color: white;" id="CambiarContrasenaButton" type="button">Enviar &nbsp; <i class="fa-solid fa-paper-plane"></i></button>
                    </div>
                    <div class="col-6">
                        <a href="{% url 'miCuenta' request.user.id %}" class="btn w-100" style="background-color: #cbcbcb;" type="button">Cancelar  &nbsp; <i class="fa-solid fa-xmark"></i></a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>



{% endblock contenido %} 


{% block scripts %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#CambiarContrasenaButton').click(function () {
            var form = $('#cambiarPass');
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: {
                    "contraseña":form.find('input[name=password]').val(),
                    "contraseñaA":form.find('input[name=passwordA]').val(),
                    "contraseñaC":form.find('input[name=password2]').val(),
                    "csrfmiddlewaretoken":form.find('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    swal.fire({
                            title: "Exito!",
                            text: "Contraseña modificada con exito!",
                            icon: "success",
                            button: "Aceptar",
                        }).then(function() {
                            window.location.href = "{%url 'logout'%}";
                        });
                       
                },error: function (error) {
                    Error = error['responseJSON']
                    Swal.fire({
                        icon: 'info',
                        title: 'Atención.',
                        text: Error['error'] + '.',
                    })
                }
            });
        });
    });
</script>
{% endblock scripts %}
    




      

    