
{% extends "side.html" %}


{% block contenido %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css">  
<style>

    #encabezado{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    #encabezado .colm2{
        display: flex;
        justify-content: end;
    }
    .add{
        background-color: #78bb50;
        font-weight: 600;
        color: white;
    }
    .add:hover{
        background-color: #78bb50;
        font-weight: 600;
        color: black;
    }

</style>
<div class="row mb-4 mt-2" id="encabezado">
    <div class="col-6">
        <h3><strong>Usuarios registrados</strong></h3>
    </div>
    <div class="col-6 colm2">
        <!-- Button trigger modal -->
        <button type="button" class="btn add" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class='bx bx-plus'></i> Nuevo usuario
        </button>
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>




<table class="table table-striped" id="example">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre y apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Celular</th>
        <th scope="col">Usuario</th>
        <th scope="col">Rol</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Juan manuel gaviria</td>
        <td>juanma@gmail.com</td>
        <td>311045678</td>
        <td>Admin</td>
        <td>Administrador</td>
        <td><span class="badge bg-success">Activo</span></td>
        <td>
            <button class="btn btn-outline-primary"><i class='bx bx-edit'></i></button>
            <button class="btn btn-outline-danger"><i class='bx bx-trash'></i></button>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Laura Marin</td>
        <td>Laura@gmail.com</td>
        <td>32476849</td>
        <td>LauraM</td>
        <td>Operador</td>
        <td><span class="badge bg-success">Activo</span></td>
        <td>
            <button class="btn btn-outline-primary"><i class='bx bx-edit'></i></button>
            <button class="btn btn-outline-danger"><i class='bx bx-trash'></i></button>
        </td>
      </tr>
      
      
      
    </tbody>
  </table>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
        $('#example').DataTable({
            "language": {
                "lengthMenu": "Mostrar " + `<select class="custom-select custom-select-sm form-control form-control-sm">
                                <option value='5'>5</option>
                                <option value='10'>10</option>
                                <option value='25'>25</option>
                                <option value='-1'>Todos</option>
                    </select>` + " registros por página",
                "zeroRecords": "No hay nada - perdón",
                "info": "Mostrando pagina _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros disponibles",
                "infoFiltered": "(filtrado desde _MAX_ registros totales)",
                "search": `<button class='btn btn-dark btn-sm'>Buscar</button>`,
                "paginate":{
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    });
  </script>
{% endblock contenido %}    

    