<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Modificar a {{object}}</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'modificarUsuario' object.pk %}" method="post" id="modificarUsuarioForm">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-6">
                            <label><strong>Nombres</strong> <sup class="campo_requerido">*</sup></label>
                            {{form.nombres}}
                            <p id="update_nombres" class="error_text"></p>
                        </div>
                        <div class="col-6">
                            <label><strong>Apellidos</strong> <sup class="campo_requerido">*</sup></label>
                            {{form.apellidos}}
                            <p id="update_apellidos" class="error_text"></p>
                        </div>
                    </div>
                    
                    <label><strong>Nombre de usuario</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.usuario}}
                    <p id="update_usuario" class="error_text"></p>

                    <label><strong>Cedula(Esta será la contraseña provisional)</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.cedula}}
                    <p id="update_cedula" class="error_text"></p>

                    <label><strong>Correo electronico</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.correo}}
                    <p id="update_correo" class="error_text"></p>
                    
                    <label ><strong>Rol de usuario</strong> <sup class="campo_requerido">*</sup></label>
                    {{form.rol}}
                    <p id="update_rol" class="error_text"></p>
                    
                    <div id="validadorBo">
                        <label><strong>Tipo de Validador</strong> <sup class="campo_requerido">*</sup></label>
                        {{form.tipo_validador}}
                    </div>

                    {% if not object.rol.name == "Validador" %}  
                        <script>
                            let a = true
                            $(document).ready(function(){
                                if(a === true){
                                    $("#validadorBo").remove()
                                }
                                else{
                                    console.log("error")
                                }
                            })
                        </script>
                    {% endif %}
  
            </form>      
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class='bx bx-x'></i> Cerrar</button>
        <button type="button" class="btn btn-success" onclick="modificarUsuario()"><i class='bx bx-save'></i> Modificar Usuario</button>
        </div>
    </div>
</div>
<script>

    $(document).ready(function(){
        
    })

     $("#id_rol").on("change", function(){
        if($("#id_rol option:selected").text() == "Validador"){
            $("#validadorBox").css("display","block")
        }else{
            $("#validadorBox").css("display","none")
        }
    })

    function modificarUsuario(){
    let form = $("#modificarUsuarioForm")
    $.ajax({
        type: form.attr("method") ,
        url: form.attr("action") ,
        data: form.serialize() ,
        success: function (response) {
            location.reload()
        },
        error: function (errores) {
            errores = errores.responseJSON["errores"]
            form.find('.error_text').text('');
            form.find('.is-invalid').removeClass('is-invalid');
            for (let i in errores){
                let x=form.find('input[name='+i+']')
                let y=form.find('select[name='+i+']')
                x.addClass("is-invalid")
                y.addClass("is-invalid")
                $("#update_"+i).text(errores[i])
                console.log(i, errores[i][0])
            }
        }
    });
}
</script>